
body {
    background-image:url("../images/background.jpg");
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;

}

.navbar {
        background-color: rgb(141, 157, 183, 0.7) !important;
        font-size:15px !important;
        font-family: 'Roboto Mono', monospace;
        color: black;
        border: 2px solid black;
        border-radius: 50px 20px;

}
.navbar-default {
    color: rgb(141, 157, 183, 0.7) !important;
    font-family: 'Roboto Mono', monospace;
    color: black;
}
.navbar-item {
    background-color: rgb(141, 157, 183, 0.7) !important;
    padding: 5px !important;
    font-family: 'Roboto Mono', monospace !important;
    color: black !important;
    border: 2px solid black !important;
    border-radius: 50px 20px !important;
}
/* Style the links inside the navigation bar */

/* Change the color of links on hover */
.nav-item a:hover {
    background-color: #8d9db7 !important;
    opacity: .6 !important;
}

/* Add a color to the active/current link */
.nav-item a.active {
    background-color: rgb(141, 157, 183) !important;
}

.navbar-nav a:hover{
    background-color: #8d9db7 !important;
    opacity: .6 !important ; 
}

.aboutme{
    background-color: rgba(234, 240, 249,0.7);
    border-radius: 50px 20px;
    height: 900;
    font-family: 'Roboto Mono', monospace;
    margin: 30px;
    padding: 20px;
    float: right;
    font-size: 15px;
    text-align: left;
    line-height: 25px;
 
}
#mainpic{
    width: 175px;
    height: 250px;
    border-radius: 50px 20px ;
    padding: 20px;
    float:left;
    
} 

h2{
    font-size: 30px;
}

form {
    border-radius: 50px 20px;
    font-family: 'Roboto Mono', monospace;
    opacity: .9;
    padding: 30px;
    margin: 30px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #8d9db7;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:#8d9db7;

}

.container a:hover {
    border-radius: 5px;
    padding: 20px;
}

h3{
    /* background-color: white; */
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    border-radius: 50px 20px;
}

/* .fas{
    font-size: 20px;
    background-color: white;
    opacity: .9;
    font-family: 'Roboto Mono', monospace;
    border-radius: 50px 20px;
    padding: 20px;
    align-content: center;
} */
#photography{
    background-color: rgba(255, 255, 255, .8);
    padding: 10px;
    margin: 1%;
}
#wireframe {
    padding: 110px;
margin: 4%;
}
